<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form action="/events" method="post">
          <label for="date">Date</label>
          <input type="text" name="date" id="date">
          <label for="name_of_event">Name of Event</label>
          <input type="text" name="name_of_event" id="name_of_event"> 
          <label for="number_of_guests">Number of Guests</label>
          <input type="text" name="number_of_guests" id="number_of_guests">
          <label for="room_location">Room Location</label>
          <input type="text" name="room_location" id="room_location">
          <label for="description">Description</label>
          <textarea name="description" id="description" rows="3" cols="20"></textarea>
          <input type="submit" value="add">
        </form>
        <ul>
          {% for event in events %}  
            <li>
              {{ event.name_of_event }}: 
              <b>{{ event.date }}</b>
              {{ event.description }}
              {{ event.room_location }}
              {{ event.number_of_guests }}
            </li>
          {% endfor %}
        </ul>
    </body>
</html>