<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul>
          {% for event in events %}  
            <li>
              {{ event.name }}: <b>{{ event.date }}</b>
            </li>
          {% endfor %}
        </ul>
    </body>
</html>